<script>
console.log("start")
var abiUsers;
var ContractUsers;
var ContractAddr='0xada79a6a421750feaae356e6fadc35a217441124';
window.addEventListener('load', function () {
  console.log("ok");
if (typeof web3 !== 'undefined') {
  console.log("siiii");
  web3Provider = web3.currentProvider;
} else {
  console.log("ganache");
  // If no injected web3 instance is detected, fall back to Ganache
  web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
}
web3 = new Web3(web3Provider);
web3.eth.getAccounts(function(error, accounts) {
    web3.eth.defaultAccount = accounts[0];
});
$.getJSON("../ABI/ValidatedAddresses.json", function(json) {
    abiUsers=JSON.stringify(json.abi); // this will show the info it in firebug console
    ContractUsers =  web3.eth.contract(JSON.parse(abiUsers)).at(ContractAddr);
    console.log(ContractUsers)
    });
});

function validate(challenge,addr,id){
    console.log(addr);
    ContractUsers.challange(challenge, {from:web3.eth.defaultAccount, to:ContractAddr, gas: 6000000},function(error, result){
       if(!error){
         //in a real case this have to be delayed and "async"
        $.ajax({
          type: 'post',
          url: '/checkValidity',
          data: {'challenge':challenge, 'address':addr},
          xhrFields: {
              withCredentials: false
          },
          headers: {

          },
          success: function (data) {
              console.log('Success');
              console.log(data);
              if(data=="valid"){
                $('#validated').css('visibility', 'visible');
                $('#'+id).addClass('disabled');
              }
          },
          error: function () {
              console.log('We are sorry but our servers are having an issue right now');
          }
        })
      }else
        console.error(error);
      });

}
</script>

<div id="validated" class="row" style="visibility:hidden;background-color:green;color:white;justify-content: center;">User validated</div>

<br><br>
<div class="row">
{{#each data}}
<div class="col-sm-3" style="margin-left:10px;">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">{{this.address}}</p>
      <p class="card-text">Challenge: {{this.hash}}</p>
{{query}}
      {{#if query.id}}
        <a href="/validateUsers?id={{this._id}}" class="btn disabled btn-primary">Validate Address</a>
      {{else}}
        <a id="{{this._id}}" onclick="validate('{{this.hash}}', '{{this.address}}','{{this._id}}')" class="btn btn-primary">Validate Address</a>
      {{/if}}

    </div>
  </div>
</div>
{{/each}}
</div>
