<script>
console.log("start")
let events;
var ticketAddr='0x93110692f179060e3172763df1c68cc2c7151bfd';
var userAddr='0xc851bf1b583801c3084ce796e9cceeaf2376318d';
window.addEventListener('load', function () {
  console.log("ok");
if (typeof web3 !== 'undefined') {
  console.log("siiii");
  web3Provider = web3.currentProvider;
} else {
  console.log("ganache");
  // If no injected web3 instance is detected, fall back to Ganache
  web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
}
web3 = new Web3(web3Provider);
web3.eth.getAccounts(function(error, accounts) {
    web3.eth.defaultAccount = accounts[0];
    console.log(web3.eth.defaultAccount);
});
});
//fix for single ticketype
function buy(item, fullItem){
  var pwd = prompt("Enter the hashes for your ticket", "");

  if (pwd == null || pwd == "") {
      return;
  }

  var id, type, quantity,price;
  tickets=$("#modal"+item+" input");
  console.log(tickets)
  for(var i=0;i<tickets.length;i++){
    if(tickets[i].name=="id"){
      id=tickets[i].value
    }
    if(tickets[i].name=="quantity"){
      console.log("aaaa:" +tickets[i].value);
      if(tickets[i].value>0){
        type=tickets[i-1].value;
        quantity=tickets[i].value;
        price=tickets[++i].value;
        break;
      }
    }
  }
  console.log(type);
  console.log(quantity);
  console.log("id "+"0x"+id);
  console.log(""+web3.toWei(quantity*price, 'ether'));
  var told=pwd.split(",");
  var t=[];
  for(i=0;i<quantity;i++){
    if(told.length-1<i){
      t[i]=told[told.length-1];
    }else{
      t[i]=told[i];
    }
  }
  fullItem=JSON.parse(unescape(fullItem));
  fullItem["bought"]=web3.eth.defaultAccount;//users address stored in session
  fullItem["t"]=t;
  console.log(JSON.stringify(fullItem));
  //user chosoe who is attending
  //t values should be stored in the user account
  ContractTickets.buy("0x"+id, type, quantity, web3.eth.defaultAccount, t,  {from:web3.eth.defaultAccount, to:ticketAddr, gas: 6000000 ,value: web3.toWei(quantity*price, 'ether')},function(error, result){
     if(!error){
         console.log(result);
         $.ajax({
           type: 'post',
           url: '/bought',
           data: fullItem,
           xhrFields: {
               withCredentials: false
           },
           headers: {

           },
           success: function (data) {
               console.log('Success');
               console.log(data);
           },
           error: function () {
               console.log('We are sorry but our servers are having an issue right now');
           }
         })
    }else
         console.error(error);
 });

};
window.addEventListener('load', function () {
  console.log("ok");
if (typeof web3 !== 'undefined') {
  console.log("siiii");
  web3Provider = web3.currentProvider;
} else {
  console.log("ganache");
  // If no injected web3 instance is detected, fall back to Ganache
  web3Provider = new Web3.providers.HttpProvider('http://localhost:8545');
}
web3 = new Web3(web3Provider);
web3.eth.getAccounts(function(error, accounts) {
  web3.eth.defaultAccount = accounts[0];
  });

$.getJSON("../ABI/ValidatedAddresses.json", function(json) {
    abiUsers=JSON.stringify(json.abi); // this will show the info it in firebug console
    ContractUsers =  web3.eth.contract(JSON.parse(abiUsers)).at(userAddr);
    console.log(ContractUsers)
    });

$.getJSON("../ABI/Events.json", function(json) {
    abiTickets=JSON.stringify(json.abi); // this will show the info it in firebug console
    ContractTickets =  web3.eth.contract(JSON.parse(abiTickets)).at(ticketAddr);
    console.log(ContractUsers)
    });


});
function hideModal()
{
    // Using a very general selector - this is because $('#modalDiv').hide
    // will remove the modal window but not the mask
    $('.modal.in').modal('hide');
}
function doModal(placementId, heading, formContent, strSubmitFunc, btnText,idModal)
{

    html =  '<div class="modal fade" tabindex="-1" id="modal'+idModal+'" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">';
    html += '<div class="modal-dialog">';
    html += '<div class="modal-content">';
    html += '<div class="modal-header">';
    html += '<a class="close" data-dismiss="modal">×</a>';
    html += '<h4>'+heading+'</h4>'
    html += '</div>';
    html += '<div class="modal-body">';
    html += formContent;
    html+='<form id="tickets" method="post" action="/"><input type="hidden" name="id" value="'+idModal+'">';
    events=JSON.parse("{{toJSON events}}".replace(/&quot;/g, '\"'))
    for (i=0;i<events.length;i++){
      if(events[i]._id==idModal){

        for (const [key, value] of Object.entries(events[i].ticketsdict)) {
          html+="<br>Zone: "+key+"<br>Price: "+value+"<br><input type='hidden' name='type' value='"+key+"'></input> <input name='quantity' placeholder='2'></input><input name='price' type='hidden' value='"+value+"'></input>";
        }
        break;
      }
    }
    console.log(JSON.stringify(events[i]));
    html += '<br><br><button class="btn btn-default btn-adopt btn-success" data-id="'+idModal+'" data-dismiss="modal" onClick="hideModal();buy(\''+idModal+'\', \''+ escape(JSON.stringify(events[i]))+'\')">Buy</button></form>'
    html += '</div>';
    html += '<div class="modal-footer">';
    if (btnText!='') {


    }
    html += '<span class="btn" data-dismiss="modal">';

    html += '</span>'; // close button
    html += '</div>';  // footer
    html += '</div>';  // content
    html += '</div>';  // dialog
    html += '</div>';  // modalWindow
    $("#"+placementId).html(html);
    $("#modal"+idModal).modal();
    $("#dynamicModal").modal('show');
}

</script>

<div class="row">

{{#each events}}
<div id="myModal"></div>

<div class="card" style="margin:30px;width:500px;">
      <div class="row no-gutters">
          <div class="col-auto">
            {{#if image}}
              <img src="{{image}}" class="img-fluid" alt="" height="200" width="200">
              {{else}}
              <img src="//placehold.it/200" class="img-fluid" alt="">
              {{/if}}
          </div>
          <div class="col" style="padding:10px;">
              <div class="card-block px-2">
                <h5 class="card-title">{{name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{date}}</h6>
                <p class="card-text">{{desc}}
                </p>
                <a href="#" class="card-link" onClick="doModal('myModal','', '{{name}}', 'doModal()','{{name}}','{{_id}}' )">Buy Ticket</a>
                <a href="#" class="card-link">details</a>
              </div>
          </div>
      </div>
  </div>
{{/each}}
</div>
